@import url("https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Rochester&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

/* header */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	background: #c7834f;
}

.logo {
	font-family: "Emilys Candy", cursive;
	font-size: 3rem;
	color: black;
	letter-spacing: 2px;
	padding: 15px;
}

.nav-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav-list .nav-items {
	padding: 2rem 1rem 2.1rem 1rem;
}

.nav-items .nav-link {
	text-decoration: none;
	color: black;
	font-family: "Rochester", cursive;
	font-weight: bolder;
	font-size: 22px;
}

.nav-items > .nav-link.active {
	color: #000;
	border-bottom: 2px solid black;
}

.nav-list .nav-items:hover {
	background-color: black;
}

.nav-list .nav-items:hover .nav-link {
	color: #c7834f;
}

/* body-containers */
.body-container {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto";
	width: 100%;
	height: 100vh;
	background-position: center;
	background-size: cover;
	padding: 0px;
	position: relative;
}

.home-quote {
	position: absolute;
	width: auto;
	min-width: 60%;
	color: white;
	background-color: black;
	opacity: 0.6;
	padding: 1.5rem 3rem;
	font-family: "Satisfy", cursive;
	font-size: 2.2rem;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
}

.home-quote::after {
	color: #ffb37a;
	font-size: 1.3rem;
	content: "- Orhan Pamuk";
	position: absolute;
	bottom: 0;
	right: 10px;
}

.footer {
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.65);
	color: white;
	display: flex;
	justify-content: center;
	padding: 10px 0;
	width: 100%;
}

.about {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 1rem 3rem 1rem 3rem;
	width: 380px;
	padding: 1rem 3rem 1rem 3rem;
	left: 5%;
	top: 50%;
	transform: translateY(-50%);
	font-family: "Satisfy", cursive;
	font-size: 2rem;
}

.donate {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.donatePara {
	color: white;
	background-color: black;
	opacity: 0.6;
	font-family: "Satisfy", cursive;
	font-size: 2rem;
	width: auto;
	min-width: 1000px;
	padding: 1rem 3rem 1rem 3rem;
	text-align: center;
	letter-spacing: 1.5px;
}

.donateBtn {
	padding: 10px;
	background-color: #c7834f;
	color: #fafafa;
	border: 0;
	margin: 20px;
	cursor: pointer;
}

.donateBtn:hover {
	transform: scale(1.02);
	box-shadow: 0 0 35px -1px #000;
}

.donateBtn:focus {
	outline: unset;
}
